:root {
  --text-main-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
}

.header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: #212121;
}

.header-secondary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: #757575;
}

BODY {
  cursor: url("pointer-events: ;");
}
.filter-buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  color: inherit;
}
.header-secondary-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
